#lnb-schema-wrapper {
  padding: 35px 15px;
  margin-top: 0.5em;
  width: 50%;
}
#lnb-schema-wrapper #tabs {
  background: #222 !important;
}
#lnb-schema-wrapper legend * {
  color: #FFA409;
}
#lnb-schema-wrapper .form-table .description {
  width: 25%;
}
#lnb-schema-wrapper .form-table .description label {
  color: #ededed;
}
#lnb-schema-wrapper .form-table .form-field {
  width: 70%;
}
#lnb-schema-wrapper .form-table .form-field input,
#lnb-schema-wrapper .form-table .form-field select,
#lnb-schema-wrapper .form-table .form-field textarea {
  height: 40px;
  outline: none !important;
  -webkit-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
  border-radius: 5px;
  border-width: 2px;
}
#lnb-schema-wrapper .form-table .form-field input:focus,
#lnb-schema-wrapper .form-table .form-field select:focus,
#lnb-schema-wrapper .form-table .form-field textarea:focus {
  border-color: #FFA409;
}
#lnb-schema-wrapper .form-table .form-field input.small,
#lnb-schema-wrapper .form-table .form-field select.small,
#lnb-schema-wrapper .form-table .form-field textarea.small {
  width: 30% !important;
}
#lnb-schema-wrapper .form-table .form-field input.medium,
#lnb-schema-wrapper .form-table .form-field select.medium,
#lnb-schema-wrapper .form-table .form-field textarea.medium {
  width: 60% !important;
}
#lnb-schema-wrapper .form-table .form-field input.large,
#lnb-schema-wrapper .form-table .form-field select.large,
#lnb-schema-wrapper .form-table .form-field textarea.large {
  width: 80% !important;
}
.clear {
  clear: both;
}
