/*
**
** Widget Styles
**
*/
.citylist.footer-citylist ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .citylist.footer-citylist ul > li {
    padding: 0.5rem 1rem; }
    .citylist.footer-citylist ul > li > a {
      display: inline-block;
      text-align: left;
      position: relative; }
      .citylist.footer-citylist ul > li > a:before {
        position: absolute;
        font-family: 'icomoon';
        content: '\f105';
        margin-left: -12px; }
  .citylist.footer-citylist ul.four-column-responsive-list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%; }
  @media only screen and (max-width: 1023px) {
    .citylist.footer-citylist ul.four-column-responsive-list {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33%;
              flex: 0 0 33%; } }
  @media only screen and (max-width: 799px) {
    .citylist.footer-citylist ul.four-column-responsive-list {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%; } }
  .citylist.footer-citylist ul.three-column-responsive-list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%; }
  @media only screen and (max-width: 799px) {
    .citylist.footer-citylist ul.three-column-responsive-list {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%; } }
  .citylist.footer-citylist ul.two-column-responsive-list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  @media only screen and (max-width: 639px) {
    .citylist.footer-citylist ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

/*
**
** Admin Styles
**
*/
#lnb-schema-wrapper {
  padding: 35px 15px;
  margin-top: 0.5em;
  width: 50%; }
  #lnb-schema-wrapper #tabs {
    background: #222 !important; }
  #lnb-schema-wrapper legend * {
    color: #FFA409; }
  #lnb-schema-wrapper .form-table .description {
    width: 25%; }
    #lnb-schema-wrapper .form-table .description label {
      color: #ededed; }
  #lnb-schema-wrapper .form-table .form-field {
    width: 70%; }
    #lnb-schema-wrapper .form-table .form-field input, #lnb-schema-wrapper .form-table .form-field select, #lnb-schema-wrapper .form-table .form-field textarea {
      height: 40px;
      outline: none !important;
      -webkit-transition: border-color, 0.5s;
      transition: border-color, 0.5s;
      border-radius: 5px;
      border-width: 2px; }
      #lnb-schema-wrapper .form-table .form-field input:focus, #lnb-schema-wrapper .form-table .form-field select:focus, #lnb-schema-wrapper .form-table .form-field textarea:focus {
        border-color: #FFA409; }
      #lnb-schema-wrapper .form-table .form-field input.small, #lnb-schema-wrapper .form-table .form-field select.small, #lnb-schema-wrapper .form-table .form-field textarea.small {
        width: 30% !important; }
      #lnb-schema-wrapper .form-table .form-field input.medium, #lnb-schema-wrapper .form-table .form-field select.medium, #lnb-schema-wrapper .form-table .form-field textarea.medium {
        width: 60% !important; }
      #lnb-schema-wrapper .form-table .form-field input.large, #lnb-schema-wrapper .form-table .form-field select.large, #lnb-schema-wrapper .form-table .form-field textarea.large {
        width: 80% !important; }

.clear {
  clear: both; }
