/*
**
** Widget Styles
**
*/
.citylist {
	&.footer-citylist {
		ul {
			list-style: none;
			display: flex;
			flex-wrap: wrap;

			> li {
				// padding: 10px 12px;

				> a {
					display: block;
					position: relative;
					&:before {
						position: absolute;
						font-family: 'icomoon';
						content: '\f105';
						margin-left: -12px;
					}
				}
			}

			&.four-column-responsive-list {
				li {
					flex: 0 0 25%;
				}
				@include mq('tablet', max) {
					flex: 0 0 33%;
				}
				@include mq('phone-wide', max) {
					flex: 0 0 50%;
				}
			}

			&.three-column-responsive-list {
				li {
					flex: 0 0 33%;
				}
				@include mq('phone-wide', max) {
					flex: 0 0 50%;
				}
			}

			&.two-column-responsive-list {
				li {
					flex: 0 0 50%;
				}
			}

			@include mq('phone', max) {
				flex-direction: column;
			}
		}
	}
}